.TableBody {

  .buttonsWrapper {
    display: flex;
    flex-direction: column;

    .btn {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      cursor: pointer;

      svg {
        fill: var(--text-color);
        width: 1rem;
        height: 1rem;
      }
    }
  }
}
