.Steps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 0;
  height: 45px;
  margin: 0 0 15px 0;
  line-height: 12px;

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f5f3;
    border-radius: 50px;
    overflow: hidden;
    width: 100%;

    .tab {
      display: flex;
      align-items: center;
      height: 100%;
      overflow: hidden;
      color: #656565;
      font-size: 12px;
      font-weight: 500;
      border-radius: 0 25px 25px 0;
      padding: 10px 11px;
      justify-content: center;
      width: inherit;

      &.ar {
        border-radius: 25px 0 0 25px;
        text-align: right;
      }

      &.active {
        background-color: #f3c966;
      }

      &.prev {
        border-radius: 0;
        background-color: #f3c966;
      }

      img {
        width: 25px;
        height: 25px;
      }
    }
  }
}