.DashboardFiltersGroupOptionSelectorMap {

  .wrapper {
    width: 60%;
    background-color: #ffffff;
    padding: 50px;

    h3 {
      display: flex;
      font-size: 30px;
      margin-bottom: 50px;
    }
  }
}
