.ProductsCatalogBody {
  width: 100%;

  h5 {
    font-size: 30px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    position: relative;
    color: #000;
  }

  .wrapper {
    width: 100%;
  }
}
