.SupplierInvite {

  .title {
    width: 100%;
    color: #000;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 1px solid #eef1f5;
    font-size: 16px;
    padding: 15px;
  }

  h3 {
    font-size: 24px;
    margin: 20px 0 30px 0;
    text-align: center;
  }

  .copyLink {
    display: flex;
    flex-direction: row;

    .button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 130px;
      height: 50px;
      flex-direction: row;
      padding: 13px 15px;
      border-radius: 0;
      background-color: #ccc;
      color: #333;
      font-weight: 600;
      cursor: pointer;

      svg {
        height: 1rem;
        width: auto;
        fill: #333;
      }
    }
  }

  .socialIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    font-size: 32px;

    .fb {
      svg {
      fill: #4267B2;
      cursor: pointer;
      height: 1rem;
      width: auto;
      &:hover {
        fill: #77798C;
      }
      }
      a {
        color: #4267B2;

        &:hover {
          color: #77798C;
        }
      }
    }

    .tw {
      color: #55acee;
      cursor: pointer;
      svg {
        fill: #55acee;
        cursor: pointer;
        height: 1rem;
        width: auto;
        &:hover {
          fill: #77798C;
        }
      }

      a {
        color: #55acee;

        &:hover {
          color: #77798C;
        }
      }
    }

    .in {
      color: #E1306C;
      cursor: pointer;

      svg {
        fill: #E1306C;
        cursor: pointer;
        height: 1rem;
        width: auto;
        &:hover {
          fill: #77798C;
        }
      }
      a {
        color: #E1306C;

        &:hover {
          color: #77798C;
        }
      }
    }

    .env {
      color: #777;
      cursor: pointer;

      svg {
        fill: #777;
        cursor: pointer;
        height: 1rem;
        width: auto;
        &:hover {
          fill: #77798C;
        }
      }
      a {
        color: #777;

        &:hover {
          color: #77798C;
        }
      }
    }
  }
}
