.ProductsCatalogFilters {
  width: 100%;
  position: sticky;
  top: 30px;

  h5 {
    font-size: 30px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    position: relative;
    color: #000;
  }
}
