.AdminViewProductsFiltersGroup {
  display: flex;

  @media (max-width: 769px) {
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 5px;
    cursor: pointer;
    border-radius: 7px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    transition: .3s all ease-in-out;

    @media (max-width: 769px) {
      display: flex;

      &:first-child {
        width: 100%;
      }
    }

    span {
      padding: 8px 5px 5px 5px;
    }

    &:hover {
      background-color: #ccc;
      transition: .3s all ease-in-out;
      color: #ffffff;
    }

    &.active {
      background-color: #ccc;
      transition: .3s all ease-in-out;
      color: #ffffff;
    }

    &:first-child {
      border: 0 solid #ccc;

      &:hover {
        background-color: #ffffff;
        transition: .3s all ease-in-out;
        color: #6c6c6c;
      }
    }

    svg {
      margin: 0 5px;
      width: 1rem;
      height: auto;
      fill: var(--text-color);

      &:hover, &:active {
        fill: #fff;
      }
    }
  }
}
