.SupplierViewProductsTableBody {

  .buttonsWrapper {
    display: flex;
    flex-direction: column;

    .btn {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      cursor: pointer;

      svg {
        height: 1rem;
        width: auto;
      }
    }
  }
}
