.PopUp {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, .8);

  .wrapper {
    //width: 60%;
    //height: 50%;
    background-color: #ffffff;
    padding: 50px;

    h3 {
      font-size: 30px;
      margin-bottom: 30px;
    }
  }
}
