.SupplierProductsAddMultiple {
  margin-top: 15px;

  h5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 15px;

    a {
      font-weight: 500;
      color: #0624d2;
    }
  }
}
