.Banners {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
  grid-gap: 1rem;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}